<div class="content-spacing-horizontal">
    <table mat-table [dataSource]="this.tracks || []">
        <ng-container matColumnDef="Number">
            <th mat-header-cell *matHeaderCellDef>{{ 'TRACK_LIST.NUMBER' | translate }}</th>
            <td mat-cell *matCellDef="let element" class="play-button">
                <button (click)="togglePlayButton(element)">
                    <mat-icon class="pause" svgIcon="pause"></mat-icon>
                    <mat-icon class="play" svgIcon="play"></mat-icon>
                    <span class="number">
                        {{ (this.tracks?.indexOf(element) ?? -1) + 1 }}
                    </span>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef>{{ 'TRACK_LIST.NAME' | translate }}</th>
            <td mat-cell *matCellDef="let element">
                <div class="song-details">
                    <div class="song-cover">
                        <img src="{{ element.imageUrl }}" alt="" class="song-img" />
                    </div>
                    <div class="song-info">
                        <span class="song-name">{{ element.name }}</span>
                        <span class="song-artist subcolor">{{ element.artist.name }}</span>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="Album">
            <th mat-header-cell *matHeaderCellDef>{{ 'TRACK_LIST.ALBUM' | translate }}</th>
            <td
                (click)="navigateAlbum(element.album.id)"
                (keydown.enter)="navigateAlbum(element.album.id)"
                mat-cell
                *matCellDef="let element"
            >
                <span class="album">{{ element.album.name }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="Duration">
            <th mat-header-cell *matHeaderCellDef>{{ 'TRACK_LIST.DURATION' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.duration | durationTranslate }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            [ngClass]="{
                selected: (selected$ | async) === row.id,
                playing: (currentTrack$ | async)?.id === row.id,
                paused: (currentTrack$ | async)?.id === row.id && !(isPlaying$ | async)
            }"
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="onSelect(row)"
            (keydown.enter)="onSelect(row)"
        ></tr>
    </table>
</div>
