<div class="track-upload">
    <span class="upload-area-title titlecolor">{{
        'RELEASE_CREATE.TRACK_UPLOAD_TITLE' | translate
    }}</span>
    <span class="upload-area-description subcolor">{{
        'RELEASE_CREATE.TRACK_UPLOAD_DESCRIPTION' | translate
    }}</span>

    <app-file-drag-drop
        [title]="'RELEASE_CREATE.FILE_DRAG_DROP.TITLE' | translate"
        [subtitle]="'RELEASE_CREATE.FILE_DRAG_DROP.SUBTITLE' | translate"
        [fileFormats]="musicFormats"
        (filesSelected)="onAudioFilesSelected($event)"
    ></app-file-drag-drop>
</div>
