:host {
    flex: 1;
    .track-upload {
        display: flex;
        flex-direction: column;
        app-file-drag-drop {
            margin: 10px 0;
        }

        .tracks-table-container {
            margin-top: 20px;
            overflow-x: auto;
        }
    }
}

