@mixin top-bar() {
    .middle-section {
        .button-wrapper {
            .icon-wrapper {
                background-color: var(--mat-sys-surface-container);
            }
        }

        .search-wrapper {
            &:focus-within,
            &:hover {
                .search-input {
                    background-color: var(--mat-sys-inverse-on-surface);
                }

                .search-icon {
                    color: var(--mat-sys-on-background);
                }
            }

            .search-input {
                background-color: var(--mat-sys-surface-container);
            }
        }
    }

    .end-section {
        .avatar-wrapper {
            background-color: var(--mat-sys-surface-container);
        }

        .login {
            background-color: var(--mat-sys-on-background);
            color: var(--default-black-color);
            transition: none;

            &:hover {
                background-color: var(--secondary-font-color) !important;
            }
        }

        .register {
            background-color: transparent !important;
        }
    }
}
