<div class="content-spacing-horizontal">
    @if (playbackState$ | async; as playback) {
    <table mat-table [dataSource]="this.tracks || []">
        <ng-container matColumnDef="Number">
            <th mat-header-cell *matHeaderCellDef>{{ 'TRACK_LIST.NUMBER' | translate }}</th>
            <td mat-cell *matCellDef="let element" class="play-button">
                <button class="button" (click)="togglePlayButton(element)">
                    @if (
                        playback.isCurrentContext &&
                        playback.currentIndex === (this.tracks?.indexOf(element) ?? -1) &&
                        playback.isPlaying
                    ) {
                        <mat-icon class="pause" svgIcon="pause"></mat-icon>
                    } @else {
                        <mat-icon class="play" svgIcon="play"></mat-icon>
                    }
                    <span class="number">
                        {{ (this.tracks?.indexOf(element) ?? -1) + 1 }}
                    </span>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef>{{ 'TRACK_LIST.NAME' | translate }}</th>
            <td mat-cell *matCellDef="let element">
                <div class="song-details">
                    <div class="song-cover">
                        <img [src]="element.imageUrl" [alt]="element.name" class="song-img" />
                    </div>
                    <div class="song-info">
                        <span class="song-name">{{ element.name }}</span>
                        @if (showArtist) {
                            <div style="display: flex; gap: 5px">
                                @for (artist of element.artists; track artist.id; let i = $index) {
                                    <span
                                        class="song-artist subcolor"
                                        (click)="navigateArtist(artist.id)"
                                        (keydown.enter)="navigateArtist(artist.id)"
                                    >
                                        {{ artist.name }}</span
                                    >
                                    @if (i < element.artists.length - 1) {
                                        <span class="subcolor">&</span>
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="Album">
            <th mat-header-cell *matHeaderCellDef>{{ 'TRACK_LIST.ALBUM' | translate }}</th>
            <td
                (click)="navigateAlbum(element.album.id)"
                (keydown.enter)="navigateAlbum(element.album.id)"
                mat-cell
                *matCellDef="let element"
            >
                <span class="album">{{ element?.album?.name }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="Duration">
            <th mat-header-cell *matHeaderCellDef>{{ 'TRACK_LIST.DURATION' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element?.duration | durationTranslate }}</td>
        </ng-container>

        @if (allowHeader) {
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        }

        <tr
            [ngClass]="{
                selected:
                    playback.isCurrentContext &&
                    playback.currentIndex === (this.tracks?.indexOf(row) ?? -1),
                playing:
                    playback.isCurrentContext &&
                    playback.currentIndex === (this.tracks?.indexOf(row) ?? -1) &&
                    playback.isPlaying,
                paused:
                    playback.isCurrentContext &&
                    playback.currentIndex === (this.tracks?.indexOf(row) ?? -1) &&
                    !playback.isPlaying,
            }"
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="onSelect(row)"
            (keydown.enter)="onSelect(row)"
        ></tr>
    </table>
    }
</div>
