@mixin release-create() {
    for-artist-release-create {
        .header {
            color: white;
            .common-button {
                &.primary {
                    background-color: var(--theme-lower-darker);

                    &:hover {
                        background-color: var(--theme-primary) !important;
                    }
                }

                &.disabled {
                    background-color: var(--disabled-color);
                    color: var(--disabled-font-color);
                    pointer-events: none;
                }
            }
        }

        .create-flow {
            .flow-card {
                .number {
                    color: white;
                    background-color: transparent;
                    border-color: white;
                    mat-icon {
                        color: var(--secondary-container-color);
                    }

                    &.active {
                        color: var(--theme-primary);
                        border-color: var(--theme-primary);
                    }

                    &.completed {
                        color: var(--primary-container-color);
                        border-color: var(--theme-primary);
                        background-color: var(--theme-primary);
                    }
                }

                .flow-card-title {
                    color: white;
                }
            }
        }

        .create-release-content {
            .right-column {
                > * {
                    border-color: var(--secondary-container-color) !important;
                }
            }
        }
    }

    for-artist-release-create-add-information {
        .information {
            .hero {
                .cover-wrapper {
                    border-color: var(--secondary-container-color) !important;

                    .cover-overlay {
                        background-color: var(--primary-container-color);
                    }
                }
            }
        }
    }

    for-artist-release-create-what-next-card {
        .what-next-card {
            .indicator-wrapper {
                .indicator {
                    background-color: var(--secondary-container-color);

                    &.active {
                        background-color: var(--primary-container-color);
                        border-color: var(--theme-primary) !important;
                    }

                    &.completed {
                        background-color: var(--primary-container-color);
                        border-color: var(--theme-primary) !important;

                        mat-icon {
                            color: var(--theme-primary);
                        }
                    }
                }

                app-separator {
                    .separator {
                        background-color: var(--secondary-container-color);
                    }
                }
            }
        }
    }
}
