:host {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .subject-select {
        position: relative;
        padding: 14px 10px;
        border-radius: 6px;
        border: 1px solid;
        font-size: 14px;
        outline: none;
        min-height: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        gap: 10px;

        &.search-focused-out {
            flex-direction: row-reverse;
            justify-content: flex-end;
            .subject-search-input {
                width: 100%;
            }
        }

        &.readonly {
            flex-direction: row-reverse;
        }

        .subject-search-input {
            border: none;
            outline: none;
            flex: 1;
            font-size: 14px;
        }

        .selected-subjects {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            .selected-subject {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 4px 8px;
                border-radius: 6px;
                border: none;

                .remove-icon {
                    mat-icon {
                        height: 10px;
                        width: 10px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        .subject-options {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: white;
            border: 1px solid;
            border-top: none;
            border-radius: 0 0 6px 6px;
            max-height: 150px;
            overflow-y: auto;
            z-index: 10;

            .subject-option {
                padding: 8px 10px;
                cursor: pointer;

                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }

    .label {
        font-size: 14px;

        &.mandatory {
            &::after {
                content: '*';
                font-size: 14px;
                margin-left: 3px;
            }
        }
    }
}
