:host {
    display: flex;
    align-items: center;
    gap: 4px;

    .artist-name {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        .user-image {
            border-radius: var(--corner-full);
            width: 20px;
            height: 20px;
        }
    }
}
