<div class="manager-wrapper">
    <div class="album-details content-spacing-horizontal vertical">
        <div class="album-cover-wrapper hover-scale">
            <img src="{{ album?.imageUrl }}" alt="" class="album-cover" />
        </div>
        <div class="album-info-wrapper">
            <span class="album-type">
                {{ 'MANAGER.' + (album?.playlistType | playlistTypeTranslate) | translate }}
            </span>
            <span class="album-name">{{ album?.name }}</span>
            <span class="common-info">
                <span class="artist-name">
                    <img src="{{ album?.createdBy?.imageUrl }}" alt="" class="user-image" />
                    {{ album?.createdBy?.name }}
                </span>
                <span class="subcolor" style="font-size: 0.5rem">•</span>
                <span class="subcolor">
                    {{ album?.tracks?.length }} {{ 'MANAGER.TRACKS_AMOUNT' | translate }}
                </span>
            </span>
        </div>
    </div>
    <div class="haze"></div>
    <div class="album-actions content-spacing-horizontal vertical-small">
        <span
            class="play-button hover-scale"
            (click)="togglePlayButton()"
            (keydown.enter)="togglePlayButton()"
        >
            @if(this.mediaPlayerStateService.playingObs$ | async) {
            <mat-icon class="play pause" svgIcon="pause"></mat-icon>
            } @else {
            <mat-icon class="play" svgIcon="play"></mat-icon>
            }
        </span>
        <span class="action-button">
            <mat-icon class="hover-scale" svgIcon="shuffle"></mat-icon>
        </span>
    </div>
</div>
