:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 12px;

    &:hover {
        .toggle-sidebar {
            .hidden-left {
                transform: translateX(0);
                width: 20px;
                opacity: 1;
            }
        }
    }

    .toggle-sidebar {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .hidden-left {
            transform: translateX(-50px);
            height: 20px;
            width: 0;
            opacity: 0;
            transition: transform 0.3s ease, width 0.3s, opacity 0.3s ease;
        }
        font-weight: 700;
    }

    .create-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        mat-icon {
            width: 16px;
            height: 16px;
        }
    }
}

.filters {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    overflow: auto;
    padding-bottom: 5px;

    .common-button {
        padding: 4px 12px;
    }
}
