<div class="cover-wrapper" (click)="imageInput.click()" (keydown.enter)="imageInput.click()">
    <input type="file" hidden #imageInput accept="image/*" (change)="onInputChange($event)" />
    <img [src]="file?.objectUrl" [alt]="file?.name" [hidden]="!file" />
    @if (!file) {
        <div class="cover-overlay">
            <div class="cover-icon">
                <mat-icon svgIcon="image"></mat-icon>
            </div>
            <p class="titlecolor">
                {{titleText || ''}}
            </p>
            <p class="subcolor">
                {{ subtitleText || '' }}
            </p>
        </div>
    }
</div>
