<app-snow [count]="200"></app-snow>
<form [formGroup]="loginForm" class="form" (ngSubmit)="ngSubmit()">
    <layout-logo></layout-logo>
    <h1 class="title">{{ 'LOGIN.TITLE' | translate }}</h1>
    <mat-form-field class="field">
        <mat-label>{{ 'LOGIN.EMAIL' | translate }}</mat-label>
        <input
            matInput
            required="true"
            type="email"
            placeholder="Example@example.com"
            formControlName="email"
        />
        @if (loginForm.get('email')?.hasError('email') &&
        !loginForm.get('email')?.hasError('required')) {
        <mat-error>{{ 'LOGIN.EMAIL_VALID_ERROR' | translate }}</mat-error>
        } @if (loginForm.get('email')?.hasError('required')) {
        <mat-error>{{ 'LOGIN.REQUIRED' | translate }}</mat-error>
        }
    </mat-form-field>
    <mat-form-field class="field">
        <mat-label>{{ 'LOGIN.PASSWORD' | translate }}</mat-label>
        <input
            matInput
            required="true"
            type="password"
            placeholder="••••••••"
            formControlName="password"
        />
        @if (loginForm.get('password')?.hasError('required')) {
        <mat-error>{{ 'LOGIN.REQUIRED' | translate }}</mat-error>
        }
    </mat-form-field>
    <button class="common-button login-button" type="submit">
        {{ 'LOGIN.BUTTON' | translate }}
    </button>
    <span class="forgot-password">
        <a href="#">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
    </span>
    <div class="no-account">
        {{ 'LOGIN.NO_ACCOUNT' | translate }}
        <a href="#">
            {{ 'LOGIN.SIGNUP_BUTTON' | translate }}
        </a>
    </div>
</form>
