<div class="header">
    <span class="title">{{ 'RELEASE_CREATE.TITLE' | translate }}</span>
    <div class="buttons">
        <span class="common-button">{{ 'RELEASE_CREATE.SAVE_BUTTON' | translate }}</span>
        <span class="common-button primary">{{ 'RELEASE_CREATE.NEXT_BUTTON' | translate }}</span>
    </div>
</div>
<app-separator style="padding: 20px 0"></app-separator>
<div class="create-flow">
    <!-- todo: remove click after implementation full cycle -->
    <div class="flow-card" (click)="navigateTo('add-information')">
        <span class="number" [ngClass]="{ completed: current > 0, active: current === 0 }">
            <mat-icon svgIcon="check"></mat-icon>
            <p>1</p>
        </span>
        <span class="flow-card-title">{{ 'RELEASE_CREATE.FLOW.FIRST' | translate }}</span>
    </div>
    <app-separator style="width: 150px; padding: 0 20px"></app-separator>
    <div class="flow-card" (click)="navigateTo('upload-tracks')">
        <span class="number" [ngClass]="{ completed: current > 1, active: current === 1 }">
            <mat-icon svgIcon="check"></mat-icon>
            <p>2</p>
        </span>
        <span class="flow-card-title">{{ 'RELEASE_CREATE.FLOW.SECOND' | translate }}</span>
    </div>
    <app-separator style="width: 150px; padding: 0 20px"></app-separator>
    <div class="flow-card" (click)="navigateTo('publish')">
        <span class="number" [ngClass]="{ completed: current > 2, active: current === 2 }">
            <mat-icon svgIcon="check"></mat-icon>
            <p>3</p>
        </span>
        <span class="flow-card-title">{{ 'RELEASE_CREATE.FLOW.THIRD' | translate }}</span>
    </div>
</div>
<app-separator style="padding: 20px 0"></app-separator>
<div class="create-release-content">
    <router-outlet></router-outlet>
    <div class="right-column">
        <for-artist-release-create-progress
            [total]="total"
            [current]="current"
            [message]="progressMessage"
        ></for-artist-release-create-progress>
        <div class="release-progress">
            <span class="progress-release-title titlecolor">{{
                'RELEASE_CREATE.WHATS_NEXT.TITLE' | translate
            }}</span>
        </div>
    </div>
</div>
