.item-card {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: var(--mat-sys-corner-small);
    width: 100%;
    padding: 8px;

    &:hover {
        .image-wrapper {
            .play-overlay {
                display: flex;
            }
        }
    }

    .image-wrapper {
        height: 48px;
        width: 48px;
        position: relative;
        min-width: 48px;

        .play-overlay {
            position: absolute;
            border-radius: var(--mat-sys-corner-extra-small);
            display: none;
            justify-content: center;
            align-items: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            &.playing {
                .play {
                    display: none;
                }
                .pause {
                    display: block;
                }
            }

            &.paused {
                .pause {
                    display: none;
                }
                .play {
                    display: block;
                }
            }

            .play {
                width: 20px;
            }

            .pause {
                width: 20px;
                display: none;
            }
        }

        .image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: var(--mat-sys-corner-extra-small);
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;

        .details {
            font-size: var(--smaller-font-size);
            display: flex;
            align-items: center;
            gap: 3px;

            .artist-name {
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                line-clamp: 1;
            }
        }
    }
}
