<div class="manager-wrapper skeleton">
    <div class="album-details content-spacing-horizontal vertical">
        <div class="album-cover-wrapper">
            <div class="skeleton-box cover"></div>
        </div>

        <div class="album-info-wrapper">
            <div class="skeleton-box type"></div>
            <div class="skeleton-box title"></div>

            <div class="common-info">
                <div class="skeleton-box avatar"></div>
                <div class="skeleton-box text-short"></div>
                <div class="skeleton-dot"></div>
                <div class="skeleton-box text-tiny"></div>
            </div>
        </div>
    </div>

    <div class="haze"></div>

    <div class="album-actions content-spacing-horizontal vertical-small">
        <div class="skeleton-circle"></div>
        <div class="skeleton-circle small"></div>
    </div>
</div>
