:host {
    display: flex;
    flex-direction: column;
    position: relative;

    .input {
        padding: 14px 10px;
        border-radius: 6px;
        border: 1px solid;
        font-size: 14px;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .input-hidden {
        position: absolute;
        opacity: 0;
        pointer-events: none;

        width: 100%;
        height: 0px;

        left: 0;
        bottom: 0;
    }

    .label {
        font-size: 14px;

        &.mandatory {
            &::after {
                content: '*';
                font-size: 14px;
                margin-left: 2px;
            }
        }
    }
}
