<app-progress-bar></app-progress-bar>
<layout-topbar></layout-topbar>

<div class="content">
    <layout-librarybar
        [maxWidth]="400"
        resizablePane
        #firstPane="resizablePane"
        class="component"
    ></layout-librarybar>

    <app-resizer [left]="firstPane" [right]="secondPane"></app-resizer>

    <layout-content
        resizablePane
        #secondPane="resizablePane"
        class="component content-pane"
    ></layout-content>

    <ng-container *authorize>
        @if (toggleBarService.isQueueBarToggled || toggleBarService.isNowPlayingBarToggled) { @if
        (toggleBarService.isQueueBarToggled) {
        <ng-container>
            <app-resizer [left]="secondPane" [right]="thirdPane"></app-resizer>
            <layout-queuebar
                [maxWidth]="400"
                resizablePane
                #thirdPane="resizablePane"
                class="component"
            ></layout-queuebar>
        </ng-container>
        } @if (toggleBarService.isNowPlayingBarToggled) {
        <ng-container>
            <app-resizer [left]="secondPane" [right]="thirdPane"></app-resizer>
            <layout-nowplayingbar
                [maxWidth]="400"
                resizablePane
                #thirdPane="resizablePane"
                class="component"
            ></layout-nowplayingbar>
        </ng-container>
        } }
    </ng-container>
</div>

<ng-container *authorize>
    <layout-playerbar class="bottom-bar content-spacing-horizontal horizontal-small vertical-smaller"></layout-playerbar>
</ng-container>
<ng-container *anonymous>
    <preview-hint style="margin: 8px" class="bottom-bar content-spacing-horizontal horizontal-small"></preview-hint>
</ng-container>
