<app-manager
    [subjectImageUrl]="artist?.imageUrl"
    [subjectName]="artist?.name"
    [subjectImageRadius]="'50%'"
>
    <manager-subject-name subject-additional-info [name]="artist?.name"></manager-subject-name>
    <artist-manager-common-approved subject-additional-info></artist-manager-common-approved>
    <artist-manager-common-listeners
        subject-additional-info
        [listenersPerMonth]="0"
    ></artist-manager-common-listeners>
    <action-play-button
        manager-action-button
        [trackList]="(entity$ | async)?.tracks"
        [trackListId]="(entity$ | async)?.id"
    ></action-play-button>
    <action-shuffle-button manager-action-button></action-shuffle-button>
    <action-follow-button [followeeId]="artist?.id" [type]="4" manager-action-button></action-follow-button>
</app-manager>
