@use 'table-columns' as table-columns;

@include table-columns.table-columns(
    (
        'Number': (
            width: 50px,
            max-width: 50px,
        ),
    )
);

:host {
    z-index: 1;
    position: relative;

    table {
        .mat-mdc-row {
            transform: translateY(10px);

            .mat-mdc-cell:first-child {
                border-top-left-radius: var(--mat-sys-corner-small);
                border-bottom-left-radius: var(--mat-sys-corner-small);
            }

            .mat-mdc-cell:last-child {
                border-top-right-radius: var(--mat-sys-corner-small);
                border-bottom-right-radius: var(--mat-sys-corner-small);
            }

            .play-button {
                width: 20px;
                height: 20px;

                .play {
                    width: 16px;
                    height: 16px;
                }
            }

            &:hover {
                .play-button {
                    .number {
                        display: none;
                    }
                }
            }
        }

        td {
            border: none;
            height: 56px;

            .song-details {
                display: flex;
                align-items: center;
                gap: 10px;

                .song-cover {
                    width: 40px;
                    height: 40px;

                    .song-img {
                        width: 40px;
                        height: 40px;
                        border-radius: var(--mat-sys-corner-small);
                    }
                }

                .song-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .song-name {
                        font-size: var(--base-font-size);
                    }

                    .song-artist {
                        font-size: var(--smaller-font-size);
                    }
                }
            }
        }
    }
}
