<div class="manager-wrapper">
    <div class="subject-details content-spacing-horizontal vertical">
        <div class="subject-cover-wrapper hover-scale" [style.border-radius]="subjectImageRadius">
            <img
                [src]="subjectImageUrl"
                [alt]="subjectName"
                [style.border-radius]="subjectImageRadius"
                class="subject-cover"
                (click)="openPhotoViewer()"
                (keydown.enter)="openPhotoViewer()"
            />
        </div>
        <div class="subject-info-wrapper">
            <ng-content select="[subject-additional-info]"></ng-content>
        </div>
    </div>
    <div class="haze"></div>
    <div class="subject-actions content-spacing-horizontal vertical-small">
        <ng-content select="[manager-action-button]"></ng-content>
    </div>
</div>
<app-photo-viewer
    [imageUrl]="subjectImageUrl || ''"
    [isVisible]="photoViewerOpened"
    (closed)="photoViewerOpened = false"
></app-photo-viewer>
