@mixin logo() {
    .logo-icon {
        color: var(--logo-color) !important;
    }

    .logo-text {
        color: var(--logo-color);
    }

    .logo-subtext {
        color: var(--theme-lower-darker);
    }
}
