:host {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: width 0.3s ease, opacity 0.3s ease;
    z-index: 2;

    &:hover {
        width: 50px;
        opacity: 0.7;
    }

    .wrapped-icon-hover {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
