<div class="manager-wrapper">
    <div class="album-details content-spacing-horizontal vertical">
        <div class="album-cover-wrapper hover-scale">
            <img src="{{ playlist?.imageUrl }}" alt="" class="album-cover" />
        </div>
        <div class="album-info-wrapper">
            <span class="album-type">
                {{ 'MANAGER.' + (playlist?.playlistType | playlistTypeTranslate) | translate }}
            </span>
            <span class="album-name">{{ playlist?.name }}</span>
            <span class="common-info">
                <span class="artist-name">
                    <img src="/public/img/avatar.webp" alt="" class="user-image" />
                    @if (playlist?.playlistType === PlaylistType.Playlist || playlist?.playlistType
                    === PlaylistType.LovedSongs) {
                    {{ playlist?.createdBy?.fullName }}
                    }
                </span>
                <span class="subcolor" style="font-size: 0.5rem">•</span>
                <span class="subcolor">
                    {{ playlist?.tracks?.length }} {{ 'MANAGER.TRACKS_AMOUNT' | translate }}
                </span>
            </span>
        </div>
    </div>
    <div class="haze"></div>
    <div class="album-actions content-spacing-horizontal vertical-small">
        <span class="play-button hover-scale">
            @if(this.isPlaying$ | async) {
            <mat-icon svgIcon="pause"></mat-icon>
            } @else {
            <mat-icon svgIcon="play"></mat-icon>
            }
        </span>
        <span class="action-button">
            <mat-icon class="hover-scale" svgIcon="shuffle"></mat-icon>
        </span>
    </div>
</div>
