<div class="hint content-spacing-horizontal vertical">
    <span class="title titlecolor">{{ 'ANONYMOUS.FIRST_HINT_TITLE' | translate }}</span>
    <span class="description subcolor">{{ 'ANONYMOUS.FIRST_HINT_DESCRIPTION' | translate }}</span>
    <button class="common-button hover-scale">{{ 'ANONYMOUS.FIRST_HINT_BUTTON' | translate }}</button>
</div>
<div class="hint content-spacing-horizontal vertical">
    <span class="title titlecolor">{{ 'ANONYMOUS.SECOND_HINT_TITLE' | translate }}</span>
    <span class="description subcolor">{{ 'ANONYMOUS.SECOND_HINT_DESCRIPTION' | translate }}</span>
    <button class="common-button hover-scale">{{ 'ANONYMOUS.SECOND_HINT_BUTTON' | translate }}</button>
</div>
<div class="hint content-spacing-horizontal vertical">
    <span class="title titlecolor">{{ 'ANONYMOUS.THIRD_HINT_TITLE' | translate }}</span>
    <span class="description subcolor">{{ 'ANONYMOUS.THIRD_HINT_DESCRIPTION' | translate }}</span>
    <button class="common-button hover-scale">{{ 'ANONYMOUS.THIRD_HINT_BUTTON' | translate }}</button>
</div>