@use './app/common/themes/purple/purple-theme.scss' as purple-theme;
@use './app/common/styles/reset.scss' as reset;
@use './app/common/styles/common-styles.scss' as common;
@use './app/common/styles/content-spacing.scss' as content-spacing;

@include reset.reset();
@include content-spacing.content-spacing();

:root {
    @include common.common-styles();
    @include purple-theme.theme();

    mat-icon[hidden] {
        visibility: hidden;
    }
}

html,
body {
    height: 100%;
    overflow: hidden;

    font-family: 'Nunito', sans-serif;
}
