<div
    class="header content-spacing-horizontal vertical-small horizontal-small"
    [ngClass]="{ hidden: !libraryBarExpanded }"
>
    <div class="toggle-sidebar" (click)="toggleLibraryBar()" (keydown.enter)="toggleLibraryBar()">
        <ng-container *authorize>
            <mat-icon class="hidden-left" svgIcon="sidebar_open"></mat-icon>
            <p>{{ 'MANAGER.MY_LIBRARY' | translate }}</p>
        </ng-container>
        <ng-container *anonymous>
            <p>{{ 'MANAGER.YOUR_LIBRARY' | translate }}</p>
        </ng-container>
    </div>
    <span class="create-button common-button wrapped-icon-hover">
        <mat-icon svgIcon="create"></mat-icon>
        <p>{{ 'MANAGER.CREATE' | translate }}</p>
    </span>
</div>
@if (libraryBarExpanded) {
    <ng-container *authorize>
        <div class="filters content-spacing-horizontal horizontal-small">
            <span class="common-button">{{ 'FILTERS.PLAYLISTS' | translate }}</span>
            <span class="common-button">{{ 'FILTERS.ARTISTS' | translate }}</span>
            <span class="common-button">{{ 'FILTERS.ALBUMS' | translate }}</span>
        </div>
    </ng-container>
}
